/* your styles go here */
#intro {
	background-image: url('../img/SacBridge.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: -10; 
}


.hero-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	z-index: -5;
}

.hero-overlay-black {
	background-color: rgba(0,0,0,0.5);
}

.hero-overlay-blue {	
	background: linear-gradient(to bottom, rgba(43,144,217,0.5), rgba(43,144,217,0));
	right: 0;
	left: 0;	
}

.title-custom {
	color: #fff;
}

.icon {
	text-shadow: none !important;
}

.border-custom {
	border: 2px solid red;
}

.image {
	height: 22em;
	width: 15em;
}

.icon-custom {
	font-size: 3em;
}


.hr-dark {
	border-color: #ccc !important;
}

.bg-custom {
	background-color: rgba(0,0,0,0.5);
	width: 300px;
}

.font-color {
	color: #fff;
}

.font-custom {
	font-size: 1.4em;
}

.image-custom {	
	display: block;	
	margin-left: 4em;
}

button.close {
	color: #fff;
}

.reference-image {
	width: 17rem;
	height: auto;
}

.reference-item {
	width: 17rem;
}


/*---- Cell Phone Adjustments ----*/
@media (max-width: 568px) { 
	h1 {
		font-size: 9vw;
	}

	.title {
		font-size: 2em;
	}	

	.welcome-custom {
		font-size: 
	}

	h3, h5 {
		font-size: 1em;
		text-align: center;
	}

	.image-custom {
		margin: 2em auto 0px auto;

	}

	p {
		font-size: 0.8em;
	}

	.icon {
		font-size: 2em !important;
	}

	footer.main-footer {
		padding: 30px 0;
	}
}


@media (max-width: 812px) {
	#intro {
		height: 100vh;		
	}
}




