


.image-css {
	height: 5em;
}

.hcj-css {
	width: 12em;
}

.c-css {
	width: 5em;
}

.circle-image-css{
    display: block;
    width: 20em;
    height: 20em;
	border-radius: 50%;
    background-position:50% 50%;
    background-repeat:no-repeat;   
}

.container-css {
	width: 200px;
}

.fl-css {
	float: left;
}

.icon-css {
	height: 50px;
	width: 50px;
}

figure {
	display: inline-block;
}

figcaption {
	margin-top: 10px;
	text-align: center;
}

#linked-css {
   background-image: url("../images/linkedin-sign.png");
   background-size: 50px;
}

#linked-css:hover {
   background-image: url("../images/linkedin-sign-blue.png");
   background-size: 50px;
}

#git-css {
   background-image: url("../images/github-sign.png");
   background-size: 50px;
}

#git-css:hover {
   background-image: url("../images/github-sign-purple.png");
   background-size: 50px;
}

.footer-css {
	font-size: 11px;
	
}

#larger-css {
	font-size: 2em;
}

.background-css {
	background-color: #003d5d;
	border-color: #003d5d;
}

.color-css {
	color: #fff;
}

